<%= form_for(@month) do |f| %>
  <% if @month.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@month.errors.count, "error") %> prohibited this month from being saved:</h2>

      <ul>
      <% @month.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :name, placeholder: 'ex: julho' %>
  </div>
  <div class="field">
    <%= f.label :ano %><br>
    <%= f.text_field :year, placeholder: 'ex: 2016' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
