<%= form_for(@month) do |f| %>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :name, placeholder: 'ex: julho' %>
  </div>
  <div class="field">
    <%= f.label :ano %><br>
    <%= f.text_field :year, placeholder: 'ex: 2016' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
