<%= form_for(@audition) do |f| %>
  <div class="field">
    <%= f.label :procurador %><br>
    <%= f.select :prosecutor_id, @prosecutor.map{|pr| [pr.name, pr.id]} %>
  </div>
  <div class="field">
    <%= f.label :vara %><br>
    <%= f.select :courte, [['1ª vara', '1ª vara'], ['2ª vara', '2ª vara']] %>
  </div>
  <div class="field">
    <%= f.label :turno %><br>
    <%= f.select :turn, [['Manhã', 'manhã'], ['Tarde', 'tarde']] %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :date %>
  </div>

  <%= hidden_field :audition, :month_name, value: params[:month_name] %>
  <%= hidden_field :audition, :year, value: params[:year] %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
