<p id="notice"><%= notice %></p>

<p>
  <strong>Prosecutor:</strong>
  <%= @audition.prosecutor %>
</p>

<p>
  <strong>Courte:</strong>
  <%= @audition.courte %>
</p>

<p>
  <strong>Turn:</strong>
  <%= @audition.turn %>
</p>

<p>
  <strong>Date:</strong>
  <%= @audition.date %>
</p>

<p>
  <strong>Prosecutor:</strong>
  <%= @audition.prosecutor %>
</p>

<p>
  <strong>Month:</strong>
  <%= @audition.month %>
</p>

<%= link_to 'Edit', edit_audition_path(@audition) %> |
<%= link_to 'Back', auditions_path %>
