<h1>Listing prosecutors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prosecutors.each do |prosecutor| %>
      <tr>
        <td><%= prosecutor.name %></td>
        <td><%= link_to 'Show', prosecutor %></td>
        <td><%= link_to 'Edit', edit_prosecutor_path(prosecutor) %></td>
        <td><%= link_to 'Destroy', prosecutor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prosecutor', new_prosecutor_path %>
