<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Audiências do dia <%= l @auditions[:date], format: :long %>
    </h1>
  </div>
</div>

<section class="col-lg-8">
  <div class="">
  <% if @auditions[:rows].empty? %>
    <div class="alert alert-warning">Nenhuma audiência cadastrada</div>
  <% else %>
    <div> Audiências agendadas</div>
    <% @auditions[:rows].each do |audition| %>
      <%= audition.prosecutor_name %>
      <%= audition.courte %>
      <%= audition.turn %>
      <%= link_to 'Show', audition %>
      <%= link_to 'Destroy', audition, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
  </div>
</section>

<section class="col-lg-4">
  <div class="panel panel-success">
    <div class="panel-heading">Contador de audiências realizadas</div>
    <div class="panel-body">
      <%- @counts.each do |count| %>
        <strong>
          <%= count[:prose] %>
        </strong>
        <span class="label label-success">
          <%= count[:count] %>
        </span>
      <% end %>
    </div>
  </div>
</section>
